VTP_CRATE all

###################
## Common settings#
###################
VTP_W_OFFSET 4200
VTP_W_WIDTH 4200

#        slot: 10 13  9 14  8 15  7 16  6 17  5 18  4 19  3 20
#     payload:  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16
VTP_PAYLOAD_EN  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0

#      fiber:  1  2  3  4
VTP_FIBER_EN   0  0  0  0

#Trigger bit width -> TS: Units: ns
VTP_TRIG_WIDTH 100

#Trigger latency: units ns
VTP_TRIG_LATENCY 2000

######################################
## Trigger Bit 0: FADC multiplicity ##
######################################
VTP_TRIG_PRESCALE        0   1
VTP_TRIG_DELAY           0   0
VTP_MOLLERCNT_MULTMIN    4

######################################
## Trigger Bit 1: FADC or           ##
######################################
VTP_TRIG_PRESCALE        1   0
VTP_TRIG_DELAY           1   0

######################################
## Trigger Bit 2: SPE Trigger       ##
######################################
VTP_TRIG_PRESCALE        2  0
VTP_TRIG_DELAY           2  0
VTP_MOLLERCNT_TRG_CH     0
VTP_MOLLERCNT_TRG_PULSE  4

VTP_CRATE end

