[Unit]
Description=Zync FPGA Firmware Loading Service
Wants=remote-fs.target
After=remote-fs.target
Before=DiagGui.service

[Service]
Type=oneshot
Environment="VTP_PARAMS=/usr/local/vtp/params/"
ExecStart=/usr/local/vtp/vtpFirmwareLoad

[Install]
WantedBy=multi-user.target