VTP_CRATE davtp3


# Firmware files should be in /usr/local/src/vtp/firmware
VTP_FIRMWARE_Z7           fe_vtp_hallb_z7.bin
VTP_FIRMWARE_V7           fe_vtp_v7_nps.bin

#        slot: 10 13  9 14  8 15  7 16  6 17  5 18  4 19  3 20
#     payload:  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16
VTP_PAYLOAD_EN  0  0  1  0  0  0  0  0  0  0  0  0  1  0  0  0

VTP_NPS_TRIG_WIDTH    1000
VTP_NPS_TRIG_LATENCY  1000

VTP_NPS_TRIG_PRESCALE  0 0
VTP_NPS_TRIG_PRESCALE  1 0
VTP_NPS_TRIG_PRESCALE  2 0
VTP_NPS_TRIG_PRESCALE  3 0
VTP_NPS_TRIG_PRESCALE  4 0
VTP_NPS_TRIG_PRESCALE  5 0

VTP_NPS_TRIG_DELAY     0 0
VTP_NPS_TRIG_DELAY     1 0
VTP_NPS_TRIG_DELAY     2 0
VTP_NPS_TRIG_DELAY     3 0
VTP_NPS_TRIG_DELAY     4 0
VTP_NPS_TRIG_DELAY     5 0

VTP_NPS_ECALCLUSTER_SEED_THR    1000
VTP_NPS_ECALCLUSTER_HIT_DT      1000
VTP_NPS_ECALCLUSTER_CLUSTER_THR 1000
VTP_NPS_ECALCLUSTER_CRATE_ID    1

# Close the config file
VTP_CRATE end
